 	<div class="span12"><h1 style="margin-bottom:20px">Made in Brazil</h1> 
 	<h6><br>Showcasing the best artists from Brazil <br> <%= @pictures.length %> images</h6>	</div>
 	<%= link_to "Add New Picture", "/pictures/new", :class => "btn btn-inverse" %>


	<div class="row-fluid">
		<% @pictures.each do |picture| %>
	  <div class="span4 image-container">
		<p><%= picture[:title] %> - <%= picture[:artist] %><br><br></p>
  		<%= link_to image_tag(picture.url), "/pictures/#{picture.id}", :class => "image-max" %>
  			<br><br><br><br>
  	</div>
  			<% end %>

	</div>




