 	<div class="span12"><h1 style="margin-bottom:20px">Brazilian Artists</h1> 
 	<h6> <%= @pictures.length %> images</h6>	</div>
 	<%= link_to "Add New Picture", "/pictures/new", :class => "btn btn-inverse" %>


	<div class="row-fluid">
		<% @pictures.each do |picture| %>
	  <div class="span4">
		<p><%= picture[:title] %>, <%= picture[:artist] %><br><br></p>
  		<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
  			<br><br><br><br>
  	</div>
  			<% end %>

	</div>




