 	<div class="span12"><h1>Add a picture</h1>
 		 	</div>
 							<%= link_to "Back to Pictures", pictures_url, :class => "btn btn-inverse"  %>


<div class="row-fluid">
      <div class="span6">
				<%= form_for @picture do |f| %>
				<p>
					<%= f.label "artist" %>	<%= f.text_field "artist" %>
				</p>
				<p>
					<%= f.label "title" %>
					<%= f.text_field "title" %>
				</p>
				<p>
					<%= f.label "url" %>
					<%= f.text_field "url" %>
				</p>

					<div class="btn btn-warning">
						<%= f.submit "save" %>
					</div>
				<% end %>
			
			</div>
		</div>