 	<div class="span12"><h1><%= @picture[:title] %>, <%= @picture[:artist] %></h1> 	</div>
 	<div class="btn btn-inverse">
 		<%= link_to "Back to Pictures", pictures_url %></div>
<div class="btn btn-inverse">
 	<%= link_to "Edit", edit_picture_path(@picture) %></div>
<div class="btn btn-inverse">
 	<%= link_to "Delete", @picture, :confirm => "Are you sure you want to delete this picture?", :method => :delete %>
 	</div>

<p></p>

	<div class="row-fluid">
      <div class="span11 text-center">
<%= image_tag @picture.url %>
</div>
</div>


